/*
파일명:main.css
작성날짜:2024.01.11 ~ 2024.01.18
작성자:양홍섭
*/
/* 상단메뉴 부분 좌측상단에 고정하기위해 */
*{
    list-style: none;
    text-decoration-line: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{   
    background-color:rgb(255, 249, 237);
}
.box{
    width: 100%;
    height: 36px;
    background-color:bisque;
}

.wrap{
    width: 1200px; 
    margin: 0 auto; 
    position: relative;    
}

/* 로고 (left(x축) 들여쓰기, top(y축) */
h1{
    font-family: 'NanumGarMaesGeur';
    font-size: 38px;
    float: left;
    position: relative;
    left:2%; /*left:30px;*/
    top: 30px; /*맨 처음에 나오는 이미지의 위치 설정부분*/
    
}
/* 회사로고이미지 옆에 상단메뉴 배치 */
.nv1{
    width: 92%; /*1000px=100%->60% 600px 정도 */
    height: 40px; /*회사 로고 이미지와 같은 선을 맞추기 위해서*/
    float: left; /* left->left,,,,right*/
    position: relative; /*.nv2를 .nv1을 기준으로 오른쪽 배치 (relative)*/
    left: 5%; /* 회사 이미지보다 옆에 배치 */
    top: 40px;
    z-index: 5; /*동영상, 슬라이드 이미지와 겹치는 경우 메뉴가 맨 앞에 배치(z-index) */
}

.nv1 > div a{
    font-family: 'NanumDongHwaDdoBag';
    color: black;
    font-size: 19px;
    font-weight:bold;
}

.nv1 > ul >li a{
    font-family: 'NanumDongHwaDdoBag';
    font-size: 18px;
    color: black;
    font-weight:normal;
}

.nv1 > ul{
    padding: 15px 20px;
    line-height: 40px;
}

ul{
    list-style-type: none; /* 메뉴의 마크 제거 list-style:none; */
}

.nv1 {
    display: flex;
    flex-direction: row; 
    z-index: 100;
    font-size: 15px;
}

.nv1 ul {
    display: none;
    position: absolute;
    margin: 0 50px;
}

.nv1 div {
    padding: 0 10px;
}

.nv1 div:hover {
    background-color:beige; 
}


/* 여백 주기(메뉴, 테두리선) */
.nv1 div a{ /* nv1에 있는 3개의 div에 들어있는 메뉴항목글자 */
    display: inline-block;
    /*가로로 정렬하면서(inline),width,height를 줄경우
    줄바꿈도 되어야 하는 경우에 사용하는 속성*/
    padding: 3px;
}


/* nv2(로그인) */
.nv2{
    align-items: center;
    width: 25%;
    height: 40px;
    position: relative;
    float: right;
}


.search{
    border-image-width: 1%;
    width: 20px;
    height: 20px;
}

.shopping{
    border-image-width: 1;
    width: 20px;
    height: 20px;
}


.nv2 ul>li {
    float: left;
    font-size: 15px;
    margin-left: 10%;
}

.nv2 ul li a{ /*login,mypage 글자자체*/
    display: inline-block;
    padding: 2px;
    color: black;
    font-family: 'NanumDongHwaDdoBag';
    font-size: 16px;
    font-weight: bold;

}

.nv1 > ul > li a:hover{
    background-color: mediumpurple;
    color: white;
}



/*  이미지 슬라이드쇼 */
.cycle-slideshow{
    position: relative; 
    z-index: 1;
    top: 110px; 
}
.cycle-slideshow img{
    width: 1200px;
    height: 870px; 
}





/* 푸터 */
.ft1{
    clear: both; /*위의 설정한 배치속*/
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
    top: -200px;
    height: 100px;
}
.nv3{
    position: relative;
    top: 20px;
}
.nv3 ul > li{
    float: left;
    margin-left: 4.3%;
}
.nv4{
    position: relative;
    top: 40px;
}
.nv4 ul{
    list-style: none;
}
.nv4 ul>li{
    float: left;
    margin-left: 4%;
    font-size: 11px;
}




